DEPLOY_PATH="/opt/data1/lifehub"

VAULT_NAME=LifeHub
CARD_TITLE=Environment
ENV_FILE=env.app

WEB_PRIMUS=
WEB_PRIMUS_USER=
WEB_PRIMUS_SKIP_SUPRVS=1

WEB_SECUNDOS=
WEB_SECUNDOS_USER=
WEB_SECUNDOS_SKIP_SUPRVS=1

HORIZON=
HORIZON_USER=
HORIZON_SKIP_SUPRVS=0
